@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

:root {
	--font-size: 18px;
	--menu-link-fz: 16px;
	--header-height: 60px;
	--bottom-panel-height: 50px;
	--border-radius: 5px;

	--blue: #3456f3;
	--black: black;
	--white: white;
	--darker-white: #f7f7f7;
	--beige: #f4f2ef;
	--border: #d0d0d0;
	--brown: #c39377;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

html,
body {
	height: 100%;
	background-color: var(--beige);
	line-height: 1.2;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: var(--font-size);
}

#reader,
#app {
	min-height: 100%;
	display: flex;
	position: relative;
	flex-direction: column;
	overflow: hidden;
}

main {
	position: relative;
}

#app > main {
	flex: 1 1 auto;
	min-height: 100%;
}

#reader > main {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: var(--header-height);
}

#reader > *,
#app > * {
	min-width: 0;
}
