.navlink {
	display: inline-block;
	padding: 5px;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	color: var(--black);
	transition: 0.3s;
	letter-spacing: 0.03em;
}

@media (hover: hover) {
	.navlink:active,
	.navlink:hover {
		color: var(--blue);
	}
}

@media (hover: none) {
	.navlink:active {
		color: var(--blue);
	}
}

@media (max-width: 899px) {
	.navlink {
		padding: 7px;
	}
}
